/* HERO SECTION STYLING */

.hero {
    background-color: #fefaf5;
    display: flex;
    justify-content: center;
    padding: 3.75rem 5rem;
    margin-top: 3.75rem;
}
.hero__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero__title {
    color:#335576;
    font-size: 2.25rem;
    width: 70%;
    padding-bottom: 1.25rem;
    margin-bottom: 0;
    margin-top: 0;
}
.hero__right img {
    width: 25rem;
    padding-left: 2.5rem;
}
.hero__text {
    color: #335576;
    width: 90%;
    margin-top: 5px;
}
.hero__left a {
    width: 27%;
}
.hero__button {
    background-color: #db7a4e;
    color: #fff;
    padding: 8px 2.5rem;
    border-radius: 1.25rem;
    border: 3px solid #db7a4e;
    font-size: 1rem;
    margin-top: 1rem;
    transition: .7s;
}
.hero__button:hover {
    cursor: pointer;
    background-color: #335576;
    color:white;
    border: 3px solid #335576;
}

/* MAIN SECTION STYLING */
.main__title {
    color: #335576;
    padding-left: 5rem;
    padding-top: 1.25rem;
    font-size: 1.5rem;
}

.main__card {
    display: flex;
    justify-content: center;
    padding-bottom: 3.75rem;
}
.main__card--hawaii {
    background-image: url(../assets/images/hawaii.jpg);
    background-size: contain;
    width: 15.625rem;
    height: 23.375rem;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0, 20%);
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 20%);
    margin: 0 20px;
    transition: .7s;
}
.main__card--greece {
    background-image: url(../assets/images/greece.jpg);
    background-size: contain;
    width: 15.625rem;
    height: 23.375rem;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0, 20%);
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 20%);
    margin: 0 20px;
    transition: .7s;
}

.main__card--iceland {
    background-image: url(../assets/images/iceland.jpg);
    background-size: contain;
    width: 15.625rem;
    height: 23.375rem;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0, 20%);
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 20%);
    margin: 0 1.25rem;
    transition: .7s;
}
.main__space {
    height: 80%;
}
.main__card p {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    margin-right: 1.3rem;
}
.main a {
    text-decoration: none;
}
.main__card--hover:hover {
    opacity: .5;
    transform: scale(1.15);
}